* {
  margin: o;
  padding: o;
  box-sizing: border-box;
}

header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#startBtn {
  
  width: 120px; height: 35px;
  margin: 20px;
  display: block;
}

#yesBtn {
  
  width: 80px; height: 20px;
  margin: 20px;
  display: none;
}

#noBtn{
  
  width: 80px; height: 20px;
  margin: 20px;
  display: none;
}

#question {
  display: none;
}

#taskbox {
  display: none;
}